/board/resources/public/js/compiled/**
/board/figwheel_server.log
/board/pom.xml
*jar
/board/lib/
/board/classes/
/board/out/
/board/target/
/board/.lein-deps-sum
/board/.lein-repl-history
/board/.lein-plugins/
/board/.lein-failures
/board/.repl
/board/.nrepl-port


*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Ignore bundler config.
/web/.bundle

# Ignore the default SQLite database.
/web/db/*.sqlite3
/web/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/web/log/*
/web/tmp/*
!/web/log/.keep
!/web/tmp/.keep

/web/node_modules
/web/yarn-error.log

/web/.byebug_history