{:charts
 [{:chart-type :linechart
   :data [{"time" 0 "commit" 0 "merge-requests" 0 "bug" 0}
          {"time" 1 "commit" 1 "merge-requests" 0 "bug" 0}
          {"time" 2 "commit" 1 "merge-requests" 0 "bug" 0}
          {"time" 3 "commit" 2 "merge-requests" 0 "bug" 0}
          {"time" 4 "commit" 0 "merge-requests" 0 "bug" 0}
          {"time" 5 "commit" 2 "merge-requests" 0 "bug" 0}
          {"time" 6 "commit" 3 "merge-requests" 0 "bug" 0}
          {"time" 7 "commit" 1 "merge-requests" 0 "bug" 0}
          {"time" 8 "commit" 4 "merge-requests" 0 "bug" 0}
          {"time" 9 "commit" 2 "merge-requests" 0 "bug" 0}
          {"time" 12 "commit" 2 "merge-requests" 0 "bug" 0}]
   :meta {:colors {"time" "#934444"
                    "commit" "#FF5733"
                    "merge-requests" "#33CAFF"
                    "bug" "#7D33FF"}}}
  {:chart-type :linechart
   :data [{"time" 0 "branches" 1}
          {"time" 2 "branches" 1}
          {"time" 3 "branches" 0}
          {"time" 5 "branches" 4}
          {"time" 6 "branches" 2}
          {"time" 7 "branches" 4}
          {"time" 9 "branches" 6}]
   :meta {:colors {"time" "#934444"
                   "branches" "#FF5733"}}}
  {:chart-type :areachart
   :data [{"time" 1 "tickets-done" 0}
          {"time" 3 "tickets-done" 0.1}
          {"time" 4 "tickets-done" 0.2}
          {"time" 5 "tickets-done" 0.4}
          {"time" 6 "tickets-done" 0.4}
          {"time" 7 "tickets-done" 0.5}
          {"time" 8 "tickets-done" 0.8}
          {"time" 9 "tickets-done" 0.8}
          {"time" 10 "tickets-done" 0.9}
          {"time" 13 "tickets-done" 1}]
   :meta {:colors {"time" "#934444"
                   "tickets-done" "#FF5733"}}}]
 :config {:width 2}}
