{:charts
 [{:name :commits,
   :data
   [{:time 0, :commit 0}
    {:time 1, :commit 1}
    {:time 2, :commit 1}
    {:time 3, :commit 2}
    {:time 4, :commit 0}
    {:time 5, :commit 2}
    {:time 6, :commit 3}
    {:time 7, :commit 1}
    {:time 8, :commit 4}
    {:time 9, :commit 2}],
   :type :line}
  {:name :sprint,
   :data
   [{:accepted 0.1, :in-progress 0.0, :done 0.0}
    {:accepted 0.2, :in-progress 0.0, :done 0.0}
    {:accepted 0.3, :in-progress 0.0, :done 0.0}
    {:accepted 0.5, :in-progress 0.2, :done 0.0}
    {:accepted 0.6, :in-progress 0.2, :done 0.1}
    {:accepted 0.6, :in-progress 0.3, :done 0.4}
    {:accepted 0.6, :in-progress 0.3, :done 0.3}
    {:accepted 0.8, :in-progress 0.4, :done 0.5}
    {:accepted 0.9, :in-progress 0.5, :done 0.6}
    {:accepted 1.0, :in-progress 0.9, :done 0.9}
    {:accepted 1.0, :in-progress 0.9, :done 1.0}
    {:accepted 1.0, :in-progress 1.0, :done 1.0}],
   :type :area}
  {:name :stability,
   :data
   [{:incidents 0, :traffic 0}
    {:incidents 1, :traffic 1}
    {:incidents 2, :traffic 12}
    {:incidents 1, :traffic 4}
    {:incidents 2, :traffic 2}
    {:incidents 4, :traffic 4}
    {:incidents 8, :traffic 8}
    {:incidents 9, :traffic 14}
    {:incidents 8, :traffic 22}
    {:incidents 12, :traffic 50}
    {:incidents 5, :traffic 49}],
   :type :scatter}
  {:name :pull-requests,
   :data
   [{:time 0, :pull-requests 0, :bugs 0}
    {:time 1, :pull-requests 1, :bugs 1}
    {:time 2, :pull-requests 0, :bugs 1}
    {:time 3, :pull-requests 0, :bugs 2}
    {:time 4, :pull-requests 2, :bugs 2}
    {:time 5, :pull-requests 2, :bugs 3}
    {:time 6, :pull-requests 3, :bugs 2}
    {:time 7, :pull-requests 0, :bugs 1}
    {:time 8, :pull-requests 2, :bugs 2}
    {:time 9, :pull-requests 1, :bugs 4}],
   :type :line
   :colors ["#f44147" "#41f458"]}]}
