[{:time 1 :label :foo :value 1}
{:time 2 :label :foo :value 2}
{:time 3 :label :bar :value 0}
{:time 4 :label :bar :value 2}
{:time 5 :label :bar :value 4}
{:time 6 :label :foo :value 2}
{:time 7 :label :foo :value 1}
{:time 8 :label :foo :value 4}
{:time 9 :label :foo :value 12}
{:time 10 :label :bar :value 8}
{:time 11 :label :bar :value 12}
{:time 12 :label :bar :value 6}
{:time 13 :label :foo :value 8}
{:time 14 :label :bar :value 14}
{:time 15 :label :foo :value 5}
{:time 16 :label :foo :value 2}]
